OPENALEX_EMAIL=you@example.com
UNPAYWALL_EMAIL=
SEMANTIC_SCHOLAR_API_KEY=
ZOTERO_LOCAL=false
ZOTERO_LIBRARY_ID=
ZOTERO_LIBRARY_TYPE=user
ZOTERO_API_KEY=
ZOTERO_CONNECTOR_URL=http://127.0.0.1:23119/connector/saveItems
ZOTERO_BRIDGE_URL=http://127.0.0.1:24119
ZOTERO_RESEARCHER_DATA_DIR=./data
SSL_CERT_FILE=
HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=
CACHE_TTL_SEC=86400
LIBGEN_MIRRORS=https://libgen.is,https://libgen.rs,https://libgen.li
LIBGEN_TIMEOUT_SEC=20
